.jumbotron{
	background: #000;
	color:#fff;
	text-align: center;
}
#animalsView{
	width:100%;
}

.animalDiv p{
	/* float:left;  */
	width:200px;
}
.animalDiv .animalImage{
	float:left;
	width:200px;
	height:200px;
}
.footer{
	background-color: #000;
	text-align: 	center;	
	font-size:xx-small;
	background-color: #000;
	color: 	#fff;
	padding:20px;
}