.jumbotron{
	background: #000;
	color:#fff;
	text-align: center;
}
.footer{
	background-color: #000;
	text-align: 	center;	
	font-size:xx-small;
	background-color: #000;
	color: 	#fff;
	padding:20px;
}